table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

td {
    padding: 8px;
    text-align: left;
}

.blue-background {
    background-color: lightblue;
}

.green-background {
    background-color: lightgreen;
}